---
import PuckEditor from "../Components/PuckEditor";
---

<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <title>Puck Test</title>
  </head>

  <body>
    <PuckEditor client:only="react" />
  </body>
</html>